<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

 <!-- <add name ="Locations" connectionString ="Data Source=CISCPL201\SQLEXPRESS;Initial Catalog=SIAAP;User Id=sa;Password=admin"
    providerName ="System.Data.SqlClient"/>  !-->
  
</configuration>
